{% extends "WXRDirectoryBundle::admin_layout.html.twig" %}

{% block content %}
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-primary" href="{{ path('wxr_directory_contact_add') }}"><i class="icon-plus icon-white"></i> {{ 'wxr_directory.contact.add'|trans }}</a>
  </div>
</div>

{% if contacts %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>{{ 'wxr_directory.contact.name'|trans }}</th>
      <th>{{ 'wxr_geo.location.location'|trans }}</th>
      <th>{{ 'wxr_directory.contact.enabled'|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
{% for contact in contacts %}
    <tr>
      <td>{{ contact.getName() }}</td>
      <td>{{ contact.getLocation() }}</td>
      <td>{{ (contact.getEnabled() ? 'Yes' : 'No')|trans }}</td>
      <td>
        <div class="btn-group">
          <a class="btn" href="{{ path('wxr_directory_contact_edit', { id: contact.getId() }) }}"><i class="icon-pencil"></i></a>
          <a class="btn btn-danger" href="{{ path('wxr_directory_contact_delete', { id: contact.getId() }) }}"><i class="icon-trash icon-white"></i></a>
        </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ 'wxr_directory.contact.none'|trans }}</p>
{% endif %}
{% endblock %}
